.hero,
.name {
	background-color: #00a9ff;
	color: white !important;
}
.about {
	font-weight: 500;
	padding-bottom: 1.5rem;
	font-family: "Cabin", sans-serif;
}

.album,
.rounded-circle {
	background-color: #a0e9ff !important;
}

.capstone {
	background-color: #89cff3 !important;
}

.bg-body-tertiary {
	background-color: #a0e9ff !important;
}

.card-body {
	background-color: #cdf5fd !important;
}
.featurette-image {
	height: 250px !important;
}

.card-img-top {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.card-text {
	width: 100%;
}

.btn-sm {
	background-color: whitesmoke;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 992px) {
	.name {
		text-align: center;
	}
}
@media screen and (max-width: 576px) {
	div.col-10 {
		width: 100%;
	}
	
}
