

.hero {
	background: linear-gradient(-45deg, #800020, #FFD700);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.name {
	color: white !important;
	text-shadow:
    1px  1px 2px black,
    1px -1px 2px black,
   -1px  1px 2px black,
   -1px -1px 2px black;
}
.about {
	color: whitesmoke;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	text-shadow:
    1px  1px 2px black,
    1px -1px 2px black,
   -1px  1px 2px black,
   -1px -1px 2px black;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-text {
    width: 100%;
    
}